<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

<header>
	<% include ./partials/header %>
</header>

<main>
	<div id="durl" class="container" style="margin-top: 250px;">
		<h1>La vendimia</h1>
		<p>La mejor opci&oacute;n del mercado</p>
		<!--% include ./ventas %-->
	</div>
</main>

<footer>
	<% include ./partials/footer %>
</footer>

</body>
</html>