<!-- views/notImplemented.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

<header>
	<% include ./partials/header %>
</header>

<main>
	<div id="durl" class="container" style="margin-top: 250px;">
		<h3>La vendimia</h3>
		<p class="nodisponible">M&oacute;dulo de <%=modulo%> est&aacute; en proceso de liberaci&oacute;n.</p>
	</div>
</main>

<footer>
	<% include ./partials/footer %>
</footer>

</body>
</html>