<!-- views/partials/header.ejs -->

<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <div class="nav-wrapper">
        <div class="row " >
            <div class=".col-sm-12 .col-md-12 .col-lg-12 .col-xl-12">
                <h2 class="brand-logo right">La Vendimia</h2>
            </div>
        </div>
        <div class="row">
        <div class=".col-sm-3 .col-md-3 .col-lg-6 .col-xl-6">
        <ul class="navbar-nav left hide-on-med-and-down">
            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
                    Inicio
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" id="ddventas">Ventas</a>
                    <a class="dropdown-item" id="ddclientes">Clientes</a>
                    <a class="dropdown-item" id="ddarticulo">Art&iacute;culos</a>
                    <a class="dropdown-item" id="ddconfiguracion">Configuraci&oacute;n</a>
                </div>
            </li>    
        </ul>
        </div>
        <div class=".col-sm-9 .col-md-9 .col-lg-6 .col-xl-6 right">
            <h5 class="date right"><%=today%></h5>
        </div>
        </div>
    </div>
</nav>
