<!-- views/partials/head.ejs -->
	<title>La Vendimia</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="http://localhost:1974/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="http://localhost:1974/bootstrap/dist/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">


	<script src="http://localhost:1974/jquery/dist/jquery.js"></script>


	<script src="http://localhost:1974/bootstrap/dist/js/bootstrap.js"></script>

	<script src="http://localhost:1974/jquery/dist/jquery.min.js"></script>
	<script src="http://localhost:1974/bootstrap/dist/js/bootstrap.min.js"></script>

	
<script src="http://localhost:1974/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="http://localhost:1974/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="http://localhost:1974/datatables.net-buttons/js/buttons.flash.min.js"></script>



	
	<link rel="stylesheet" type="text/css" href="/css/laVendimia.css">
	<script src="/js/lib.js"></script>
	<script src="/js/la_vendimia_lib.js"></script>

	<script src="/js/ventas_lib.js"></script>
