<!-- views/partials/head.ejs -->
	<title>La Vendimia</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css"/>
	<!-- link rel="stylesheet" type="text/css" href="/bootstrap-modal/css/bootstrap-modal.css"-->
	<link rel="stylesheet" type="text/css" href="/jquery.modal/css/jquery.modal.css"/>
	<link rel="stylesheet" type="text/css" href="/datatables/media/css/dataTables.bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="/css/laVendimia.css"/>

	<script src="/jquery/dist/jquery.js"></script>
	<script src="/jquery/dist/jquery.min.js"></script>

	<script src="/datatables/media/js/jquery.js"></script>
	<script src="/datatables/media/js/jquery.dataTables.js"></script>
	<script src="/datatables/media/js/jquery.dataTables.min.js"></script>
	
	<!-- jQuery Modal -->
	<script src="/jquery.modal/js/jquery.modal.js"></script>
	<script src="/jquery.modal/js/jquery.modal.min.js"></script>

	<script src="/bootstrap/dist/js/bootstrap.js"></script>
	<script src="/bootstrap/dist/js/bootstrap.min.js"></script>

	<!-- script src="/bootstrap-modal/js/bootstrap-modal.js"></script-->

	<!-- Librerias generales -->
	<script src="/js/la_vendimia_lib.js"></script>
	<!-- Librerias por modulos -->
	<script src="/js/ventas_lib.js"></script>
	<script src="/js/clientes_lib.js"></script>
	<script src="/js/articulos_lib.js"></script>